.light{
    font-weight: 100;
    font-size: 18px;
}

.medium{
    font-weight: 200;
    font-size: 18px;
}

.semibold{
    font-weight: 300 ;
    font-size: 18px;
}

.bold{
   font-weight: 400;
    font-size: 18px;
}